<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/nav %>
  <div class="container">
    <div style="margin-top:20px;"></div>
    <p><% include ../partials/ad %></p>
    <div class="h6_tit">
      <h6 class="mt-5 mb-3">
        안녕하세요. 사이트에 방문해주셔서 감사합니다. 불편한 사항이나, 기능이<br/>
        추가되었으면 하는 점이 있으시다면 내용을 적어주시면 감사하겠습니다.<br/>
        큰 고난과 역경이 없다면 빠른시일내 수정하겠습니다.
      </h6>
    </div>
    <div class="req-btn statoption">
      <div class="row">
        <div class="col-lg-12 mb-4">
          <form name="cttForm" id="cttForm">
            <div class="control-group form-group">
              <div class="controls">
                <input class="form-control" id="ctt" name="ctt" maxlength="400"></textarea>
              </div>
            </div>
            <p style="text-align:center;">
              <button type="button" class="btn btn-stat-on" id="cttSave">저장</button>
            </p>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <p>
          <table class="table" id="cttTab">
            <thead>
              <tr>
                <th>문의내용</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach(function(obj) { %>
                <tr><td><%=obj.ctt %></td></tr>
              <% }) %>
            </tbody>
          </table>
        </p>
      </div>
    </div>

  </div>
  <% include ../partials/footer %>
  <% include ../partials/script %>
  <script>
    jQuery(document).ready(function() {
      $("#cttSave").click(function() {
        document.cttForm.action = "/hi/cttin";
        document.cttForm.method = "post";
        document.cttForm.submit();
      });

      $("#ctt").keyup(function(e) {
        if(e.keyCode == 13) {
          document.cttForm.action = "/hi/cttin";
          document.cttForm.method = "post";
          document.cttForm.submit();
        }
      });
    });
  </script>
</body>
</html>
