<footer style="text-align:right;">
  <a href="http://developers.neople.co.kr" target="_blank">
    <img src="https://developers.neople.co.kr/img/logo_t1.png" style="width:30%;height:30%;" alt="Neople 오픈 API" / >
  </a>
</footer>
