<!-- Navigation -->
<!-- <nav class="navbar fixed-top navbar-expand-lg navbar-white bg-white fixed-top"> -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="http://cdn.df.nexon.com/img/web/common/logo.png" style="width:96px;height:59px;padding-right:6px;"/>던파카드사전</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/card">카드일반조회</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cardparts">재료카드조회</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hi">문의하기</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://developers.neople.co.kr/img/svisual4.jpg')">
        <div class="carousel-caption d-md-block">
          <h3>카 드</h3>
        </div>
      </div>
    </div>
  </div>
</header>
