<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/nav %>
  <input type="hidden" id="in1" name="in1" value="0" />
  <input type="hidden" id="in2" name="in2" value="0" />
  <input type="hidden" id="in3" name="in3" value="0" />
  <input type="hidden" id="in4" name="in4" value="0" />
  <input type="hidden" id="more_view_yn" name="more_view_yn" value="N" />
  <div class="container">

    <div class="h6_tit">
      <h6 class="mt-5 mb-3">던파카드사전입니다. 다양한 조건으로 원하는 카드의 옵션과 최저가를 확인합니다.
      </h6>
    </div>
    <div class="req-btn grade">
      <div class="row">
        <div class="col-lg-12">
          <p>
            <button class="btn btn-grade-on gradeoption0">전체</button>
            <button class="btn btn-grade gradeoption1">커먼</button>
            <button class="btn btn-grade gradeoption2">언커먼</button>
            <button class="btn btn-grade gradeoption3">레어</button>
            <button class="btn btn-grade gradeoption4">유니크</button>
            <button class="btn btn-grade gradeoption5">레전더리</button>
          </p>
        </div>
      </div>
    </div>
    <div class="req-btn buwui">
      <div class="row" style="margin-top:-16px;">
        <div class="col-lg-12">
          <p>
            <button class="btn btn-buwui-on buoption0">전체</button>
            <button class="btn btn-buwui buoption1">무기</button>
            <button class="btn btn-buwui buoption2">칭호</button>
            <button class="btn btn-buwui buoption3">머리어깨</button>
            <button class="btn btn-buwui buoption4">상의</button>
            <button class="btn btn-buwui buoption5">하의</button>
            <button class="btn btn-buwui buoption6">벨트</button>
            <button class="btn btn-buwui buoption7">신발</button>
            <button class="btn btn-buwui buoption8">팔찌</button>
            <button class="btn btn-buwui buoption9">목걸이</button>
            <button class="btn btn-buwui buoption10">보조장비</button>
            <button class="btn btn-buwui buoption11">반지</button>
            <button class="btn btn-buwui buoption12">귀걸이</button>
            <button class="btn btn-buwui buoption13">마법석</button>
          </p>
        </div>
      </div>
    </div>
    <div class="req-btn statoption">
      <div class="row" style="margin-top:-16px;">
        <div class="col-lg-12">
          <p>
            <button class="btn btn-stat-on statoption0">전체</button>
            <button class="btn btn-stat statoption1">속성</button>
            <button class="btn btn-stat statoption2">스탯</button>
            <button class="btn btn-stat statoption3">속도</button>
            <button class="btn btn-stat statoption4">데미지</button>
            <button class="btn btn-stat statoption5">상태이상</button>
            <button class="btn btn-stat statoption6">기타</button>
          </p>
        </div>
      </div>
    </div>
    <div class="req-btn">
      <div class="row" style="margin-top:-16px;">
        <div class="col-lg-12">
          <p class="card_dtl_option option1">
            <button class="btn btn-dtl dtloption1">명속성강화</button>
            <button class="btn btn-dtl dtloption2">수속성강화</button>
            <button class="btn btn-dtl dtloption3">암속성강화</button>
            <button class="btn btn-dtl dtloption4">화속성강화</button>
            <button class="btn btn-dtl dtloption5">모든속성강화</button><br/>
            <!--<button class="btn btn-dtl dtloption7">수속성부여</button>
            <button class="btn btn-dtl dtloption8">암속성부여</button>
            <button class="btn btn-dtl dtloption9">화속성부여</button>-->
            <button class="btn btn-dtl dtloption10">명속성저항</button>
            <button class="btn btn-dtl dtloption11">수속성저항</button>
            <button class="btn btn-dtl dtloption12">암속성저항</button>
            <button class="btn btn-dtl dtloption13">화속성저항</button>
            <button class="btn btn-dtl dtloption14">모든속성저항</button>
            <button class="btn btn-dtl dtloption6">속성부여</button>
          </p>
          <p class="card_dtl_option option2">
            <button class="btn btn-dtl dtloption15">힘</button>
            <button class="btn btn-dtl dtloption16">체력</button>
            <button class="btn btn-dtl dtloption17">지능</button>
            <button class="btn btn-dtl dtloption18">정신력</button>
            <button class="btn btn-dtl dtloption19">HP MAX</button>
            <button class="btn btn-dtl dtloption20">MP MAX</button>
            <button class="btn btn-dtl dtloption21">적중률</button>
            <button class="btn btn-dtl dtloption22">회피율</button>
          </p>
          <p class="card_dtl_option option3">
            <button class="btn btn-dtl dtloption23">캐스팅속도</button>
            <button class="btn btn-dtl dtloption24">공격속도</button>
            <button class="btn btn-dtl dtloption25">이동속도</button>
            <button class="btn btn-dtl dtloption26">점프력</button>
          </p>
          <p class="card_dtl_option option4">
            <button class="btn btn-dtl dtloption27">물리크리티컬</button>
            <button class="btn btn-dtl dtloption28">마법크리티컬</button>
            <button class="btn btn-dtl dtloption29">물리공격력</button>
            <button class="btn btn-dtl dtloption30">마법공격력</button>
            <button class="btn btn-dtl dtloption31">독립공격력</button>
          </p>
          <p class="card_dtl_option option5">
            <button class="btn btn-dtl dtloption32">모든상태내성</button>
            <button class="btn btn-dtl dtloption36">구속내성</button>
            <button class="btn btn-dtl dtloption37">둔화내성</button>
          </p>
          <p class="card_dtl_option option6">
            <button class="btn btn-dtl dtloption33">경직도</button>
            <button class="btn btn-dtl dtloption34">히트리커버리</button>
            <button class="btn btn-dtl dtloption35">스킬</button>
            <button class="btn btn-dtl dtloption38">HP회복</button>
            <button class="btn btn-dtl dtloption39">MP회복</button>
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">해방 (공격력)</button>
          </span>
          <input type="text" class="form-control" placeholder="" value="0" id="rimitDmg" />
        </div>
      </div>
    </div> -->
    <div style="margin-top:60px;" />
    <div class="row">
      <p>
        <div class="col-lg-3">
          <div class="input-group ">
            <input type="text" class="form-control search-card-input" placeholder="카드이름이나 옵션으로 찾아보세요." value="" id="in6" />
            <span class="input-group-btn">
              <button class="btn btn-default search-card-input" type="button">조회</button>
            </span>
          </div>
        </div>
      </p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          <table class="table" id="card_tab">
            <thead>
              <tr>
                <th>카드명</th>
                <th>부위</th>
                <th>옵션</th>
                <th>최저가(수량)</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </p>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
  <% include ../partials/script %>
  <script>
    jQuery(document).ready(function() {
      // $(".option2").css("display","block");

      // $("button").mouseenter(function() {
      //   var button_nm = $(this).attr("class");
      //   if(button_nm.indexOf("statoption") > -1) {
      //     var statoption_num = button_nm.substring(button_nm.indexOf("statoption")+10);
      //     $(".card_dtl_option").css("display","none");
      //     $(".option"+statoption_num).css("display","block");
      //   }
      // });
      // $("button").mouseleave(function() {
      //   var button_nm = $(this).attr("class");
      //   if(button_nm.indexOf("statoption") > -1) {
      //     if(button_nm.indexOf("-on") < 0) {
      //       $(".card_dtl_option").css("display","none");
      //     }
      //   }
      // });

      $("#in6").focus();

      $("button").click(function(e) {
        var button_nm = $(this).attr("class");
        if(button_nm.indexOf("search-card-input") < 0)$("#in6").val("");

        if(button_nm.indexOf("statoption") > -1) {
          var statoption_num = button_nm.substring(button_nm.indexOf("statoption")+10);

          //css(click)
          $(this).parents("p").children("button").each(function(idex, item) {
            $(this).attr("class","btn btn-stat statoption"+$(this).attr("class").substring($(this).attr("class").indexOf("statoption")+10));
          });
          $(this).attr("class","btn btn-stat-on statoption" + statoption_num); //클릭CSS
          //css(dtl)
          $(".option"+statoption_num).children("button").each(function(idex, item) {
            $(this).attr("class","btn btn-dtl-on dtloption"+$(this).attr("class").substring($(this).attr("class").indexOf("option")+6)); //클릭CSS
          });

          if(statoption_num==0) $("#in3").val(statoption_num);
          if(statoption_num==5) $("#in3").val("32");
          $("#in2").val(statoption_num);
          $("#in3").val("0");
          $(".card_dtl_option").css("display","none");
          $(".option"+statoption_num).css("display","block");

          if(button_nm.indexOf("statoption0") > -1) card.getMyCardInfo("0");
        }else if(button_nm.indexOf("dtloption") > -1) {
          var dtloption_num = button_nm.substring(button_nm.indexOf("dtloption")+9);

          $(this).parents("p").children("button").each(function(idex, item) {
            $(this).attr("class","btn btn-dtl dtloption"+$(this).attr("class").substring($(this).attr("class").indexOf("dtloption")+9));
          });
          $(this).attr("class","btn btn-dtl-on dtloption" + dtloption_num); //클릭CSS

          $("#in2").val("0");
          $("#in3").val(dtloption_num);

          card.getMyCardInfo("0");
        }else if(button_nm.indexOf("buoption") > -1) {
          var buoption_num = button_nm.substring(button_nm.indexOf("buoption")+8);

          //css(click)
          $(this).parents("p").children("button").each(function(idex, item) {
            $(this).attr("class","btn btn-buwui buoption"+$(this).attr("class").substring($(this).attr("class").indexOf("buoption")+8));
          });
          $(this).attr("class","btn btn-buwui-on buoption" + buoption_num); //클릭CSS

          $("#in1").val(buoption_num);

          card.getMyCardInfo("0");
        }else if(button_nm.indexOf("gradeoption") > -1) {
          var gradeoption_num = button_nm.substring(button_nm.indexOf("gradeoption")+11);

          //css(click)
          $(this).parents("p").children("button").each(function(idex, item) {
            $(this).attr("class","btn btn-grade gradeoption"+$(this).attr("class").substring($(this).attr("class").indexOf("gradeoption")+11));
          });
          $(this).attr("class","btn btn-grade-on gradeoption" + gradeoption_num); //클릭CSS

          $("#in4").val(gradeoption_num);

          card.getMyCardInfo("0");
        }else if(button_nm.indexOf("search-card-input") > -1) {
          card.getMyCardInit();
          card.getMyCardInfo("0");
        }
      });

      $("#in6").keyup(function(e) {
        if(e.keyCode == 13) {
          card.getMyCardInit();
          card.getMyCardInfo("0");
        }
      });
    });
  </script>
</body>
</html>
