<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/nav %>
  <input type="hidden" id="in1" name="in1" value="0" />
  <input type="hidden" id="in2" name="in2" value="0" />
  <input type="hidden" id="in3" name="in3" value="0" />
  <input type="hidden" id="in4" name="in4" value="4" />
  <input type="hidden" id="more_view_yn" name="more_view_yn" value="N" />
  <div class="container">
    <div style="margin-top:20px;"></div>
    <p><% include ../partials/ad %></p>
    <div class="h6_tit">
      <h6 class="mt-5 mb-3">희귀도별 최저가 카드를 찾습니다. 카드업글재료로 많이 쓰입니다. <b><a href="/cardparts">[2분 마다 새로고침 됩니다.]</a></b>
      </h6>
    </div>
    <div class="req-btn grade">
      <div class="row">
        <div class="col-lg-12">
          <p>
            <button class="btn btn-grade gradeoption1">커먼</button>
            <button class="btn btn-grade gradeoption2">언커먼</button>
            <button class="btn btn-grade gradeoption3">레어</button>
            <button class="btn btn-grade-on gradeoption4">유니크</button>
            <button class="btn btn-grade gradeoption5">레전더리</button>
          </p>
        </div>
      </div>
    </div>
    <p><% include ../partials/ad30050 %></p>
    <div class="row">
      <div class="col-lg-12">
        <p>
          <table class="table" id="card_tab">
            <thead>
              <tr>
                <th>카드명</th>
                <th>부위</th>
                <th>옵션</th>
                <th>최저가(수량)</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </p>
      </div>
    </div>
    <div style="margin-top:20px;"></div>
    <p><% include ../partials/ad %></p>
  </div>
  <% include ../partials/footer %>
  <% include ../partials/script %>
  <script>
    jQuery(document).ready(function() {

      card.getPartsCardInfo();

      setInterval("card.getPartsCardInfo()",1000*60*2);

      $("button").click(function(e) {
        var button_nm = $(this).attr("class");

        if(button_nm.indexOf("gradeoption") > -1) {
          var gradeoption_num = button_nm.substring(button_nm.indexOf("gradeoption")+11);

          //css(click)
          $(this).parents("p").children("button").each(function(idex, item) {
            $(this).attr("class","btn btn-grade gradeoption"+$(this).attr("class").substring($(this).attr("class").indexOf("gradeoption")+11));
          });
          $(this).attr("class","btn btn-grade-on gradeoption" + gradeoption_num); //클릭CSS

          $("#in4").val(gradeoption_num);

          card.getPartsCardInfo();
        }
      });
    });
  </script>
</body>
</html>
