a, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td {font-family: 'Noto Sans KR', sans-serif;}
h6 {color:#868a96 !important;font-size:12px !important;}
.h6_tit {border-bottom:1px solid #c4c4c4;padding-bottom:10px;margin-bottom:30px;}

.form-control {border-radius:0rem !important;}
.btn {border-radius:0rem !important;}
.req-btn div button.btn {
  font-size:.8rem !important;margin-bottom:4px;
  background-color:#fff;border-color:#ccc;color:#333;
  transition:background 1s;
}
.req-btn.buwui div button.btn{padding:.67rem 1.34rem !important;color:#ffc107;}
.req-btn.statoption div button.btn{padding:.67rem 3.8rem !important;color:#28a745;}
.req-btn.grade div button.btn{padding:.67rem 4.52rem !important;}
.btn-common {
  color:#CCCCCC !important;
  border-color:#CCCCCC !important;
}
.btn-uncommon {
  color:#68D5ED !important;
  border-color:#68D5ED !important;
}
.btn-rair {
  color:#B36BFF !important;
  border-color:#B36BFF !important;
}
.btn-unique {
  color:#FF00FF !important;
  border-color:#FF00FF !important;
}
.btn-legend {
  color:#FF7800 !important;
  border-color:#FF7800 !important;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4,
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
{padding-right:4px !important;}
.carousel-item {height:0vh !important;min-height:150px !important;}
.row {margin-left:0px !important;margin-right:0px !important;}
.card_dtl_option {display:none;}
/* .card_dtl_option.option2,.card_dtl_option.option3,.card_dtl_option.option4,.card_dtl_option.option6 {margin-top:-53px;} */
