<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/nav %>
  <div class="container">
    <div style="margin-top:20px;"></div>
    <p><% include ../partials/ad %></p>
    <div class="h6_tit">
      <h6 class="mt-5 mb-3">
        큰 고난과 역경이 없다면 앞으로 추가될 내용입니다.
      </h6>
    </div>

    <p>
      [2018.11.23]<br/>
      1. 많이 쓰이는데 API에 존재하지 않거나 하는이유로 검색되지 않고 있는 카드추가 <a href="/hi">건의하기</a>에서 제보해주시면 넘감사.<br/>
      2. 보주시세도 같이볼수있도록 개선예정.
    </p>
  </div>
  <% include ../partials/footer %>
  <% include ../partials/script %>
  <script>
    jQuery(document).ready(function() {
    });
  </script>
</body>
</html>
